# ignore everything
*

# except these
!meowdfer.py

!src/
!src/**

!tests/
!tests/**

!.github/
!.github/**

!pyproject.toml
!.gitignore
!README.md

# ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class