name: CI

on:
    push:
    pull_request:

jobs: 
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: "3.12"

            - name: Install dependancies
              run: |
                python -m pip install --upgrade pip
                pip intsll .[dev]
            
            - name: Run tests
              run: |
                pytest -v

